node_modules
dist
coverage
.cache
.turbo
.temp
.tmp
.eslintcache
*.tsbuildinfo
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.idea
.vscode
.env
.env.*
!.env.example
